.home-about__info-link:hover{
    text-decoration: underline;
}

.home-footer__title,
.home-footer__text,
.home-footer__social-link,
.nav-content__link-wraper .nav-content__link{
    transition: all 0.1s ease-in-out;
}

.nav__col,
.nav__col-background,
.button--nav{
    transition: all 0.6s ease-out;
}

.home-footer__content:hover .home-footer__title,
.home-footer__content:hover .home-footer__text,
.home-footer__social-link:hover,
.nav-content__link-wraper:hover .nav-content__link:not(:hover){
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}

.section.section--nav-content.open{
    display: block;
}

.nav-content__wrapper.open{
    display: flex;
}

.overflow-hidden{
    overflow: hidden;
}

.nav__link:hover{
    text-decoration: underline;
}

.home-footer__news-wrapper,
.home-footer__news-mask,
.home-footer__news-content,
.button--nav{
    transition: all 0.4s ease;
}

.home-footer__news-wrapper:hover .home-footer__news-mask{
    opacity: 0.6;
    transition: all 0.4s ease;
}

.home-footer__news-wrapper:hover .home-footer__news-content{
    opacity: 1;
    transition: all 0.4s ease;
}

